<%- include("./partials/header.ejs") %>

    <div class="w-full h-[90vh] px-16">
        <h1 class="capitalize font-semibold text-xl">create new hisab</h1>
        <form action="/hisab/createhisab" method="post">
            <input class="block w-[35%] bg-zinc-100 p-2 px-4 rounded-md border-2 border-zinc-200 mt-6 outline-none"
            type="text" placeholder="Shoping hisab...." name="title">
        <textarea
            class="block w-[45%] h-64 bg-zinc-100 p-2 px-4 rounded-md border-2 border-zinc-200 mt-6 resize-none outline-none"
            name="content" placeholder="Daal,Aata,Cheeni..." ></textarea>
         <div class="flex w-[30%] items-center justify-between mt-4">
            <div class="flex gap-2 w-36">
                <input id="in" type="checkbox" name="encrypted">
                <h4 class="text-sm capitalize">encrypt this file</h4>
            </div>
            <div class="flex gap-2 w-36">
                <input type="checkbox" name="shareable">
                <h4 class="text-sm capitalize">shareable?</h4>
            </div>
        </div>
        <div class="flex mt-6 w-[30%] items-center justify-between">
            <div class="flex gap-2 w-36">
                <input class="passcode bg-zinc-100/50 outline-none p-2 py-1 w-full rounded-md border-2 border-zinc-300"  type="text" name="passcode" placeholder="Passcode">
            </div>
            <div class="flex gap-2 w-36">
                <input type="checkbox" id="encryptcheck" name="editable">
                <h4 class="text-sm ">Edit Permission <span class="text-xs text-blue-500 whitespace-nowrap font-semibold">( *Select if you want to edit in future )</span></h4>
            </div>
        </div>
        <% if(error.length > 0){ %>
            <h5 class="text-xm text-red-500  mb-1 capitalize"><%= error[0] %></h5>
        <% } %>
        <input class="bg-blue-500 outline-none p-2 text-zinc-100 mt-12  rounded-md border-2 border-zinc-100" type="submit"  value="Create New Hisab">
   
        </form>
        </div>


    <%- include("./partials/footer.ejs") %>